name: Lint Check

on: [pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19.x
      - name: "Run lint"
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.41
          args: --timeout=10m
          only-new-issues: true